@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  src: url(/inter.var.woff2) format("woff2");
}

html,
body {
  height: 100%;
}
